@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "ABCFavoritExtendedVariable";
    font-style: normal;
    font-weight: 400; /* Regular weight */
    src: url("@/assets/fonts/ABCFavorit/ABCFavoritExtendedVariable-Trial.ttf")
        format("truetype");
}

* {
    font-family: "ABCFavoritExtendedVariable";
}

html {
    background-color: #ebebeb;
}
